
{% extends "layout.html" %}

{% block pageTitle %}
  IM&R Local Outcome Plan 2020-2025
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Incident Management & Resilience Local Outcome Plan 2020-2025
      </h1>
        <p class="govuk-body-l">
          This Local Outcome Plan sets out how the Incident Management & Resilience (IM&R) team will deliver the strategic goals set out in the <a href="https://www.gov.uk/government/publications/environment-agency-ea2025-creating-a-better-place/environment-agency-ea2025-creating-a-better-place" class="govuk-link">EA action plan (EA2025)</a>. It outlines our aspirations and objectives for the next 5 years.
        </p>

      <h2 class="govuk-heading-l" id="foreword">Foreword</h2>
      
      <p>Incident management keeps people safe and protects the environment from serious and lasting damage.</p>

    
      <p>Now more than ever we need to change ourselves, our ways of working and take the initiative to do things differently.</p>

      <p>This plan is for all of IM&R to own and champion. I hope you will join me and the Leadership Team to bring this plan to life and really make a difference to incident management across the EA.</p>
        
      <p>To IM&R - it is in all our hands to action.</p>

      <div class="govuk-inset-text">
        Sarah Chare - Director of Incident Management & Resilience
      </div>


      <h2 class="govuk-heading-l" id="vision">Our vision</h2>
      
      <p>By 2025, we will be prepared and ready for the emergencies we will face, inspire people to action and be the brilliant responder we aspire to be.</p>


      <h2 class="govuk-heading-l" id="team"> Our team</h2>

      <p>Incident Management & Resilience are in the Local Operations directorate. We set the vision, values and standards of the Environment Agency's incident management service. We deliver excellent technical leadership alongside national incident response.</p> 
    
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                Preparedness and Recovery
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Helping society plan, prepare and recovery quickly.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Evolve and continually improve our response arrangements including our 9-5 tactical first response and form a core of dedicated capable responders.
              </li>
              <li>
                Improve the capability and confidence of our incident responders embedding the Incident Management Centre for Excellence.
              </li>
              <li>
                Develop relationships with partners to ensure we collaborate and provide a resilient national response service.
              </li>
              <li>
                Develop our recovery framework.
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                Readiness and Response
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              Ensuring we are ready to respond to any incident to the required standards using the plans, technology and people across IM&R.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Run the National Incident room.
              </li>
              <li>
                Improve our incident air quality monitoring capability and capacity to enable a more effective response.
              </li>
              <li>
                Create a focus for forecasting leadership within IM&R to enable a transition to a national forecasting service.
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                Evidence and Risk
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              Providing analysis and advice to reduce the impacts of hazards and improve resilience.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Provision of expert modelling, forecasting and technical services to ensure our understanding of environmental, flood and coastal change risks.
              </li>
              <li>
                Prepare accurate community flood forecasts, and build and maintain flood assets to better protect people, communities, the environment and the economy.
              </li>
              <li>
                Delivery of improvements to cope with a changing climate including the Flood Hydrology Roadmap, improved flood data quality and increased flood warning coverage using innovative approaches.
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                Strategy, Service and Investment
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
              Setting the strategic direction, securing investment and overseeing the delivery of one incident management service.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Coordinate and track the year one priorities for the IM Strategy.
              </li>
              <li>
                Implement the IM Service Approach for Incident Management working with delivery teams across the business.
              </li>
              <li>
                IM has its own allocation with a clear understanding of how we use this to deliver our service and the value this brings by tying it close to effective and streamlined business planning.
              </li>
              <li>
                Revise IM assurance metrics with a clear line of sight between service standards, KPIs and corporate scorecard measures so we incentivise the behaviours and changes we want to see.
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-5">
                Digital Services
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
              Developing easy to use, reliable and available systems.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                Management and maintenance of essential digital services and systems.
              </li>
              <li>
                Run and embed digital improvement projects including IR&T, XWS, IMFS, Logistics and Resources Planning Tool (MAT/ERT).
              </li>
              <li>
                Horizon scan considering and mitigating impacts of Corporate IT changes on IM end to end services including Windows 10, Zscaler, O365, New IT or laptops.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-l" id="challenges">Challenges we face</h2>

      <h3 class="govuk-heading-m">Increasing environmental risk</h3>
      <p>We are in a climate emergency. Natural systems are reacting to higher temperatures, more intense rainfall and prolonged periods of dry weather. As a result we see bigger, more frequent environmental incidents.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Climate scientists estimate that there could be up to 59% more precipitation in winters by 2050.
        </strong>
      </div>

      <p>The infrastructure that supports our society wasn’t designed for these new extremes and increased pressure on it has the knock-on effect of further, more complex incidents.</p>

      <p>Our changing environment disrupts society and forces economic instability which threatens the sustainability of our nation and stresses our incident management service.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          There is a 1 in 4 chance over the next 30 years that water supplies will be cut off for extended periods because of drought.
        </strong>
      </div>

      <p>We need to understand and address these pressures so we can be confident we can help keep people safe, protect the environment and deliver our critical business activities.</p>

      <h3 class="govuk-heading-m">An economy under pressure</h3>
      <p>Climate change, the COVID-19 pandemic and the subsequent economic challenges, combined together could result in increasing damage to the environment and risks to lives and livelihoods. An increase in incidents can occur as environmental compliance is less of a priority as financial pressure on businesses grows. Incidents are costly but good incident management can save money.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The 2005 Buncefield fuel storage depot explosion led to fines and costs in excess of £10 million: the estimated environmental damage was 100 times this amount.
        </strong>
      </div>

      <h3 class="govuk-heading-m">Increasing population with higher expectations</h3>
      <p>Public expectation is high. People know we are good at incident management and rely on us to keep them safe and look after their environment. We live in a digital age with real-time information and an expectation that government will provide real-time answers.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Population growth means bigger demands on water and sewerage systems whilst new homes push into green spaces, contaminated brownfield sites and the floodplain. 
        </strong>
      </div>

      <p>From reviews such as the Pitt Review in 2008, or the more recent Grenfell Inquiry, there is a constant desire to minimise risk, be more effective in future incidents and help communities to recover quickly.</p>

      <h3 class="govuk-heading-m">A service at risk of being overwhelmed</h3>
      <p>Our Incident Management service has evolved in response to increasing demands, organisational changes and funding challenges. We rely on a substantial amount of legacy IT and a volunteer model to fulfil incident roles. We trust our great people to balance the demands of incident response alongside their other responsibilities.</p>

      <p>As the number of incidents increases this affects our ability to deliver other aspects of core Environment Agency work. Ironically, this increases risk of incidents as our work to prevent incidents lessens.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Since 2015, our Grant in Aid revenue funding has dropped by 17%.
        </strong>
      </div>

      <p>All of this is compounded by funding constraints. We have achieved a lot of savings by being efficient but it has reduced our service.</p>


      <h2 class="govuk-heading-l" id="response">Our response to those challenges</h2>

      <p>Our incident response is highly respected. We are trusted across government and by communities and our advice is sought by other emergency responders and partners.</p>

      <p>Achieving this takes hard work. We plan, train and prepare ahead of incidents and we learn from our actions afterwards to continually improve our service. That is why incident management is so much more than just incident response.</p>

      <p>To maintain the quality of our service we need to evolve our incident management approach to address the pressures we face. The Incident Management Strategy describes our ambition for doing this looking forward to 2025. Our aim is Incident Management for a Resilient Nation.</p>

      <p>Building resilience means that people accept their risk, know what help is available and the part they can play so they’re prepared for hazards and life can carry on.</p>

      <p>Achieving resilience is complex. We have to make choices about where we invest our effort so that our service makes the biggest difference to people and the environment.</p>
      
      <p>To help us do this we focus on three areas – <b>planning, collaboration and response</b> – building on the strong foundations of our current service. Our priorities within this LOP are shaped around these themes.</p>






    </div>
  </div>


  </div>

{% endblock %}