
{% extends "layout.html" %}

{% block pageTitle %}
  IM&R Local Outcome Plan 2020-2025
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Incident Management & Resilience Local Outcome Plan 2020-2025
      </h1>
        <p class="govuk-body-s">
          This Local Outcome Plan sets out how the Incident Management & Resilience (IM&R) team will deliver the strategic goals set out in the EA action plan (EA2025). It outlines our aspirations and objectives for the next 5 years.
        </p>

      <h2 class="govuk-heading-m">Foreword</h2>
      
      <p>Incident management keeps people sage and protects the environment from serious and lasting damage.</p>

      <p>By 2025, we will be prepared and ready for the emergencies we will face, inspire people to action and be the brilliant responder we aspire to be.</p>
    
      <p>Now more than ever we need to change ourselves, our ways of working and take the initiative to do things differently.</p>

      <p>This plan is for all of IM&R to own and champion. I hope you will join ne amd the IM&R Leadership Team to bring this plan to life and really mak a difference to incident management across the EA.</p>
        
      <p>To IM&R - it is in all our hands to action.</p>

      <div class="govuk-inset-text">
        Sarah Chare - Director of Incident Management& Resilience
      </div>


      <h2 class="govuk-heading-m">Incident Management & Resilience Team</h2>

      <p>IM&R are in the Local Operations directorate. We set the vision, values and standards of the Environment Agency's incident management service.</p>
        
      <p>We deliver excellent technical leadership alongside national incident response.</p> 
      
      
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#pandr">
              P&R
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#randr">
              R&R
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#eandr">
              E&R
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#ssi">
              SSI
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#ds">
              DS
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="pandr">
          <h2 class="govuk-heading-l">Preparedness and Recovery</h2>
          <p>Helping society plan, prepare and recovery quickly.</p> 
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="randr">
          <h2 class="govuk-heading-l">Readiness and Response</h2>
          <p>Ensuring we are ready to respond to any incident to th required standards using the plans, technology and people across IM&R.</p> 
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="eandr">
          <h2 class="govuk-heading-l">Evidence and Risk</h2>
          <p>Providing analysis and advice to reduce the impacts of hazards and improve resilience.</p> 
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ssi">
          <h2 class="govuk-heading-l">Strategy, Service and Investment</h2>
          <p>Setting the strategic direction, securing investment and overseeing the delivery of one incident management service. </p> 

        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ds">
          <h2 class="govuk-heading-l">Digital Services</h2>
          <p>Helping society plan, prepare and recovery quickly</p> 

        </div>
      </div>
      
    



    </div>
  </div>

{% endblock %}