
{% extends "layout.html" %}

{% block pageTitle %}
  IM&R Local Outcome Plan 2020-2025
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Incident Management & Resilience Local Outcome Plan 2020-2025
      </h1>
        <p>
          This Local Outcome Plan sets out how the Incident Management & Resilience (IM&R) team will deliver the strategic goals set out in the EA action plan (EA2025). It outlines our aspirations and objectives for the next 5 years.
        </p>

      <h2 class="govuk-heading-m">
        Introduction
      </h2>
      
        <p>
          This Local Outcome Plan sets out how the Incident Management & Resilience (IM&R) team will deliver the strategic goals set out in the EA action plan (EA2025). It outlines our aspirations and objectives for the next 5 years.
        </p>

      

    </div>
  </div>

{% endblock %}